/* 
================================
            > 1280px
================================
*/
@media screen and (min-width: 1280px) {
  .header,
  .section,
  .footer {
    justify-content: center;
  }

  .container {
    width: 1280px;
  }

  .section-contacts-left-part,
  .left-part,
  .right-part {
    width: 50%;
  }

  .left-part {
    padding: 60px 30px 60px 0;
    text-align: right;
  }

  .right-part {
    padding: 60px 20px 60px 30px;
  }

  .header {
    margin-bottom: 50px;
  }

  .header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 20px;
    margin: 30px;
  }

  .header-list-item {
    width: 20%;
  }

  .header-list-item-heading {
    font-size: 18px;
  }

  .header {
    background-color: #2B2C2C
  }

  .section:nth-child(even) > .left-part {
      background-color: #2B2C2C;
  }

  .section:nth-child(even) > .right-part {
    background-color: #2D2E2E;
  }

  .section:nth-child(odd) > .left-part {
      background-color: #2D2E2E;
  }

  .section:nth-child(odd) > .right-part {
    background-color: #292A2A;
  }

  .section-contacts-left-part {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-contacts-surname {
    margin: 0 0 0 15px;
  }

  .avatar-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 150px;
  }

  .avatar {
      border-radius: 150px;
  }

  .right-part-text {
    row-gap: 16px;
    font-size: 18px;
  }

  .address-list {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .address-list-item {
    width: 50%;
  }

  .address-list-item-link {
    font-size: 20px;
  }

  .address-list-item-heading {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .section-example-of-work-all-links-wrapper {
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 25px;
  }

  .section-example-of-work-link-wapper {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
  }

  .address-list-item > p:last-child {
    font-size: 20px;
  }

  .section-education-right-part,
  .section-work-experience-right-part {
    row-gap: 25px;
  }

  .education-secondary-school-left-part,
  .education-university-left-part,
  .education-university-bsufc-left-part,
  .section-work-experience-krasny-borets-left-part,
  .section-work-experience-sports-school-left-part,
  .section-work-experience-construction-left-part,
  .section-work-experience-trolleybus-depot-left-part,
  .section-work-experience-mogilev-bus-depot-left-part,
  .section-work-experience-minsk-bus-depot-left-part {
    row-gap: 8px;
    width: 45%;
  }

  .education-secondary-school-name,
  .education-university-name,
  .education-university-bsufc-name,
  .section-work-experience-krasny-borets-name,
  .section-work-experience-sports-school-name,
  .section-work-experience-construction-name,
  .section-work-experience-trolleybus-depot-name,
  .section-work-experience-mogilev-bus-depot-name,
  .section-work-experience-minsk-bus-depot-name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .education-secondary-school-text,
  .education-university-text,
  .education-university-bsufc-text,
  .section-work-experience-krasny-borets-occupation,
  .section-work-experience-sports-school-occupation,
  .section-work-experience-construction-occupation,
  .section-work-experience-trolleybus-depot-occupation,
  .section-work-experience-mogilev-bus-depot-occupation,
  .section-work-experience-minsk-bus-depot-occupation {
    width: 55%;
    padding-left: 25px;
    font-size: 18px;
  }

  .section-hobby-right-part {
    row-gap: 15px;
  }

  .section-hobby-before-2013-period,
  .section-hobby-after-2013-period{
    width: 20%;
  }

  .section-hobby-before-2013-text,
  .section-hobby-after-2013-text {
    width: 80%;
    font-size: 18px;
  }

  .footer-copyright-information {
    width: 40%;
  }

  .footer-my-github {
    width: 20%;
  }

  .footer-educational-resources {
    width: 40%;
  }

  .footer-copyright-information-title,
  .footer-my-github-title,
  .footer-educational-resources-title {
    font-size: 18px;
  }

  .footer-copyright-information-text {
    width: 100%;
  }

  .logo-github-link {
    width: 70%;
  }

  .logo-rsschool-link {
    border-radius: 15px;
  }

  .logo-rsschool {
    margin: 15px;
  }
}
/* 
================================
          768px - 1279px
================================
*/
@media screen and (min-width: 768px) and (max-width: 1279.9px) {

  .header {
    background-color: #2B2C2C
  }

  .section:nth-child(even) > .left-part {
      background-color: #2B2C2C;
  }

  .section:nth-child(even) > .right-part {
    background-color: #2D2E2E;
  }

  .section:nth-child(odd) > .left-part {
      background-color: #2D2E2E;
  }

  .section:nth-child(odd) > .right-part {
    background-color: #292A2A;
  }

  .section-contacts:nth-child(odd) > .section-contacts-left-part,
  .section-contacts:nth-child(odd) > .section-contacts-right-part {
    background-color: #292A2A;
  }

  .header,
  .section,
  .footer {
    justify-content: center;
  }

  .container {
    max-width: 1279.9px;
  }

  h2 {
    font-size: 18px;
  }

  .section-contacts-left-part {
    width: 50%;
  }

  .left-part {
    width: 30%;
    padding: 50px 17px 50px 0;
    text-align: right;
  }

  .right-part {
    width: 70%;
    padding: 50px 5px 50px 17px;
  }

  .header {
    margin-bottom: 50px;
  }

  .header-list {
    display: flex;

    flex-wrap: wrap;
    row-gap: 10px;
    margin: 15px;
  }

  .header-list-item:nth-child(1),
  .header-list-item:nth-child(5),
  .header-list-item:nth-child(9) {
    width: 30%;
  }

  .header-list-item:nth-child(2),
  .header-list-item:nth-child(6),
  .header-list-item:nth-child(10) {
    width: 23%;
  }

  .header-list-item:nth-child(3),
  .header-list-item:nth-child(7){
    width: 26%;
  }

  .header-list-item:nth-child(4),
  .header-list-item:nth-child(8) {
    width: 20%;
  }

  .header-list-item-heading {
    font-size: 16px;
  }

  header:nth-child(even),
  section:nth-child(odd) > article:nth-child(2){
      background-color: #2B2C2C;
  }

  section:nth-child(even) > article:nth-child(2),
  footer:nth-child(even) > article:first-child {
      background-color: #292A2A;
  }

  section:nth-child(odd) > article:last-child,
  footer:nth-child(even) > article:last-child {
      background-color: #2D2E2E;
  }

  section:nth-child(even) > article:last-child,
  footer:nth-child(even) > article:last-child {
      background-color: #2B2C2C;
  }

  .section-contacts-left-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
  }

  .section-contacts-right-part {
    width: 55%;
  }

  .avatar-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 150px;
  }

  .avatar {
      border-radius: 150px;
  }

  .section-contacts-surname {
    margin: 0;
  }

  .right-part-text {
    row-gap: 16px;
    font-size: 18px;
  }

  .address-list {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .address-list-item {
    width: 50%;
  }

  .address-list-item-link {
    font-size: 18px;
  }

  .address-list-item-heading {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .address-list-item > p:last-child {
    font-size: 18px;
  }

  .section-example-of-work-all-links-wrapper {
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 25px;
  }

  .section-example-of-work-link-wapper {
    width: 50%;
    font-size: 18px;
    font-weight: bold;
  }

  .section-education-right-part,
  .section-work-experience-right-part {
    row-gap: 25px;
  }

  .education-secondary-school-left-part,
  .education-university-left-part,
  .education-university-bsufc-left-part,
  .section-work-experience-krasny-borets-left-part,
  .section-work-experience-sports-school-left-part,
  .section-work-experience-construction-left-part,
  .section-work-experience-trolleybus-depot-left-part,
  .section-work-experience-mogilev-bus-depot-left-part,
  .section-work-experience-minsk-bus-depot-left-part {
    row-gap: 8px;
    width: 50%;
  }

  .education-secondary-school-name,
  .education-university-name,
  .education-university-bsufc-name,
  .section-work-experience-krasny-borets-name,
  .section-work-experience-sports-school-name,
  .section-work-experience-construction-name,
  .section-work-experience-trolleybus-depot-name,
  .section-work-experience-mogilev-bus-depot-name,
  .section-work-experience-minsk-bus-depot-name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .education-secondary-school-text,
  .education-university-text,
  .education-university-bsufc-text,
  .section-work-experience-krasny-borets-occupation,
  .section-work-experience-sports-school-occupation,
  .section-work-experience-construction-occupation,
  .section-work-experience-trolleybus-depot-occupation,
  .section-work-experience-mogilev-bus-depot-occupation,
  .section-work-experience-minsk-bus-depot-occupation {
    width: 50%;
    padding-left: 15px;
    font-size: 18px;
  }

  .section-hobby-right-part {
    row-gap: 15px;
  }

  .section-hobby-before-2013-period,
  .section-hobby-after-2013-period{
    width: 20%;
  }

  .section-hobby-before-2013-text,
  .section-hobby-after-2013-text {
    width: 80%;
    font-size: 18px;
  }

  .footer-right-part {
    column-gap: 5px;
  }

  .footer-copyright-information {
    width: 40%;
  }

  .footer-my-github {
    width: 20%;
  }

  .footer-educational-resources {
    width: 40%;
  }

  .footer-copyright-information-title,
  .footer-my-github-title,
  .footer-educational-resources-title {
    font-size: 16px;
  }

  .footer-copyright-information-text {
    width: 100%;
  }

  .logo-github-link {
    width: 65%;
  }

  .logo-rsschool-link {
    border-radius: 10px;
  }

  .logo-rsschool {
    margin: 10px;
  }
}
/* 
================================
            < 768px
================================
*/
@media screen and (max-width: 767.9px) {
  .header,
  .section,
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
  }

  h2 {
    font-size: 18px;
  }

  .burger-menu-popup-list-item-heading {
    /* font-size: 0; */
  }

  .section-contacts-left-part {
    width: 100%;
  }

  .left-part {
    width: 100%;
    padding: 25px 0;
    text-align: center;
  }

  .right-part {
    width: 100%;
    padding: 10px;
  }

  .header {
    margin-bottom: 50px;
  }

  .header-list {
    display: none;
  }

  .header-list-item {
    width: 25%;
  }

  .header-list-item:nth-child(1),
  .header-list-item:nth-child(5),
  .header-list-item:nth-child(9) {
    width: 20%;
  }

  .header-list-item:nth-child(2),
  .header-list-item:nth-child(6),
  .header-list-item:nth-child(10) {
    width: 30%;
  }

  .header-list-item-heading {
    font-size: 16px;
  }

  .left-part {
    /* background-color: #2B2C2C;
    background-color: #292A2A;
    background-color: #2D2E2E; */
    background-color: #2B2C2C;
  }

  .section-contacts-left-part {
    background-color: transparent;
  }

  .right-part {
      background-color: #292A2A;
  }

  .section-contacts-left-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .avatar {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
  }

  .section-contacts-name-surname-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-contacts-surname {
    margin: 0;
  }

  .right-part-text {
    row-gap: 16px;
    font-size: 18px;
  }

  .address-list {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .address-list-item {
    align-items: center;
  }

  .address-list-item-link {
    font-size: 18px;
  }

  .address-list-item-heading {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .address-list-item > p:last-child {
    font-size: 18px;
  }

  .section-example-of-work-all-links-wrapper {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin: 5px 0 20px;
  }

  .section-example-of-work-link-wapper {
    font-size: 18px;
    font-weight: bold;
  }

  .section-education-right-part,
  .section-work-experience-right-part {
    row-gap: 25px;
  }

  .education-secondary-school-left-part,
  .education-university-left-part,
  .education-university-bsufc-left-part,
  .section-work-experience-krasny-borets-left-part,
  .section-work-experience-sports-school-left-part,
  .section-work-experience-construction-left-part,
  .section-work-experience-trolleybus-depot-left-part,
  .section-work-experience-mogilev-bus-depot-left-part,
  .section-work-experience-minsk-bus-depot-left-part {
    row-gap: 8px;
    width: 50%;
  }

  .education-secondary-school-name,
  .education-university-name,
  .education-university-bsufc-name,
  .section-work-experience-krasny-borets-name,
  .section-work-experience-sports-school-name,
  .section-work-experience-construction-name,
  .section-work-experience-trolleybus-depot-name,
  .section-work-experience-mogilev-bus-depot-name,
  .section-work-experience-minsk-bus-depot-name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .education-secondary-school-text,
  .education-university-text,
  .education-university-bsufc-text,
  .section-work-experience-krasny-borets-occupation,
  .section-work-experience-sports-school-occupation,
  .section-work-experience-construction-occupation,
  .section-work-experience-trolleybus-depot-occupation,
  .section-work-experience-mogilev-bus-depot-occupation,
  .section-work-experience-minsk-bus-depot-occupation {
    width: 50%;
    padding-left: 15px;
    font-size: 18px;
  }

  .section-hobby-right-part {
    row-gap: 15px;
  }

  .section-hobby-before-2013-period,
  .section-hobby-after-2013-period{
    width: 35%;
  }

  .section-hobby-before-2013-text,
  .section-hobby-after-2013-text {
    width: 65%;
    font-size: 18px;
  }

  .footer-right-part {
    column-gap: 10px;
  }

  .footer-copyright-information {
    width: 40%;
    text-align: center;
  }

  .footer-my-github {
    width: 18%;
    text-align: center;
  }

  .footer-educational-resources {
    width: 42%;
    text-align: center;
  }

  .footer-copyright-information-title,
  .footer-my-github-title,
  .footer-educational-resources-title {
    font-size: 16px;
  }

  .logo-github-link {
    width: 70%;
  }

  .logo-rsschool-link {
    border-radius: 5px;
  }

  .logo-rsschool {
    margin: 5px;
  }
}

@media screen and (min-width: 450px) and (max-width: 767.9px) {
  .address-list-item {
    align-items: center;
    width: 50%;
  }

  .footer-copyright-information-text {
    width: 100%;
  }
}

@media screen and (max-width: 449.99999px) {
  .address-list-item {
    width: 100%;
  }

  .footer-copyright-information-text {
    margin-left: -20px;
    margin-right: -20px;
    font-size: 14px;
  }
}
/*
=============================
        burger menu
=============================
*/
@media screen and ( max-width: 767.9px) {
  .burger-menu_wrapper {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    align-self: start;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
  }

  .burger-menu {
    position: relative;
    width: 40px;
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
    border-top: solid 4px #E0A809;
    border-bottom: solid 4px #E0A809;
  }

  .burger-menu:hover {
    border-top: solid 4px white;
    border-bottom: solid 4px white;
    cursor: pointer;
  }

  .burger-menu-blur-wrapper-blur-elem {
    position: relative;
    z-index: 10000;
    padding: 17px 17px;
    border: solid 1px black;
    border-bottom-right-radius: 13px;
    background: #292929;
    box-shadow: 0 0 17px #3a3b3b inset;
  }

  @supports (( -webkit-backdrop-filter: none ) or
             ( backdrop-filter: none )) {
    .burger-menu-blur-wrapper-blur-elem {
      background: transparent;
      -webkit-backdrop-filter: blur( 1px ) saturate( 150% );
      backdrop-filter: blur( 2px ) saturate( 150% );
    }
  }

  .burger-menu-middle-line {
    position: absolute;
    top: calc(50% - 2px);
    width: 100%;
    font-size: 0;
    border-top: solid 4px #E0A809;
  }

  .burger-menu:hover > .burger-menu-middle-line {
    border-top: solid 4px white;
  }

  .burger-menu-popup {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: #292929f9;
    overflow-y: scroll;
  }

  .burger-menu-popup-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    margin: 0; 
    padding: 20px 0;
    background: #292929;
    border-radius: 0 0 30px;
  }

  .burger-menu-popup-list-item {
    width: 100%;
    text-align: center;
  }

  .burger-menu-popup-list-item-link {
    text-decoration: none;
  }

  .burger-menu-popup-list-item-heading {
    font-size: 0;
    color: #E0A809;
  }

  .burger-menu-popup-list-item-heading:hover {
    color: white;
  }
}